html {
  font-size: 18px;
  font-family: Helvetica, sans-serif;
  line-height: 1.4;
}

.container {
  width: 960px;
  margin: 0 auto;
}

/*main image banner section*/
.top-section {
  background-image: url("../images/glasses-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 30rem;


}

.header {
  color: white;
  background-color: cadetblue;
  display: flex;
  justify-content: space-between;

}

.header-box-left {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.header-box-right ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  padding-right: 2rem;
}

.header-box-right li {
  padding: 1rem 2rem;

}

.header-box-left img {
  height: 1.5rem;
  padding-left: 2rem;
}

.header-box-left h1 {
  padding-left: 1rem;
  font-size: 1rem;
}

.slogan-title h1 {
  background-color: white;
  font-size: 2rem;
  line-height: 1.2;
  text-align: center;
  padding: 1.5rem 5rem;
  font-weight: bold;
  margin-top: 10rem;
  margin-right: -2rem;
  display: inline-block;
}

.slogan-box {
  display: flex;
  justify-content: flex-end;
}


.feature-section {
  margin-top: 3rem;
    display:flex;
    justify-content: center;
}


#paper-icon {
  width: 3.5rem;
}

.feature-box img {

width: 5rem;
  margin-bottom: 1rem;
}

.feature-box {
display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
    height: 8rem;
width: 5rem;
    text-align: center;
    padding: 0 3rem;
}


.info-section {
  display: flex;
  justify-content: center;

}

.info-box {
  width: 35%;
  /*padding: 0 5% 5rem 10%;*/
  margin-right: 5%;
  margin-bottom: 4rem;
}

.info-box h1 {
margin-top: 3rem;
margin-bottom: 1rem;
  background-color: cadetblue;
  padding: 0.5rem 1.25rem;
  width: 10rem;
}

.footer-section {
  background-color: azure;
  display: flex;
  align-items: center;

}

.footer-section img {
  padding: 4rem 1rem 4rem 4rem;
  height: 1.5rem;
}

.mobile-menu ul {
  display: none;
}

@media only screen and (max-width: 960px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }
  .slogan-title h1 {
    font-size: 1.33rem;
    padding: 0.75rem 4rem;
    margin-top: 5rem;
    margin-right: 2rem;

  }
  .top-section {
    height: 22rem;
  }
  .feature-section {
      margin-top: 3rem;
    }
}

@media only screen and (max-width:630px) {
  .header-box-left h1 {
  display: none;
  }
  .header-box-right ul {
  display: none;
  }

  .header-box-right li {
    padding: 1rem 2rem;

  }
  .mobile-menu ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;

  }

  .mobile-menu li {
    padding: 1rem 2rem;


  }
  .slogan-title h1 {
    font-size: 1.33rem;
    padding: 1rem 0;
    margin-top: 9rem;
    margin-right: 2rem;
  }

  .top-section {
    height: 17rem;
  }
  .feature-section {
    margin-top: 3rem;
      display:flex;

      flex-direction: column;
      align-items: center;
    }
    .feature-box {
    font-size: 0.77rem;
        padding: 1rem 0;
    }
    .info-section {
      flex-direction: column;
      align-items: center;
    }
    .info-box {
      width: 100%;
      margin-right: 0;
      margin-bottom: 4rem;
    }
    .info-box h1 {
      width: 100%;
      text-align: center;
      color: white;
      font-weight: bold;

    }

    .info-box p {
      font-size: 0.77rem;
    }
    .copyright {
      display: none;
    }
    .footer-section {
      justify-content: center;
      align-items: center;
    }
    .header-box-left img {
      height: 1.5rem;
      padding: 1rem 2rem;
    }
}
